body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background-color: #08583a;
    color: white;
    padding: 5px;
}

nav a {
    text-align: top;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 30px;
}

nav a:hover {
    text-decoration: underline;
}
.travel {
    background: url('https://images.unsplash.com/photo-1507187632231-5beb21a654a2?q=80&w=1201&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-size: cover;
    color:rgb(61, 225, 143);
    padding: 200px;
}

.dest{
    padding: 150px 10px;
}

.d1{
    display: inline-block;
    width: 300px;
    margin:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.d1 img{
    width: 100%;
}

.d1 h3{
    margin: 10px ;
}
.about{
    padding: 50px;
}
footer {
    background-color: #033611;
    color: white;
    padding: 10px;
}
